@charset "utf-8";

/*************************************************/
/* CSS Specifics for microcred_profile           */
/*     Chris TRIBBECK <chris.tribbeck@syleam.fr> */
/*************************************************/

/* nav.navbar, nav.navbar-inverse, span.o_searchview_facet_label, table.o_list_view > tfoot {
  background-color: #D50063 !important;
}

.o_caption {
  color: #D50063 !important;
}

a {
    color: #1487CF !important;
}

a.o_menu_entry_lvl_2, span.oe_topbar_name, a.o_menu_toggle, li.o_mail_navbar_item > a, li > a.dropdown-toggle, a.fa-close, a.oe_activate_debug_mode {
    color: #FFFFFF !important;
}

a.o_form_uri, a.o_form_uri:first-line, button.oe_link, .o_control_panel .breadcrumb > li > a, .btn-default, div.o_primary, .o_chatter_button_log_note  {
    color: #1487CF !important;
}

.o_application_switcher_footer {
    background-color: #CCCCCC !important;
}

.btn-primary, .progress-bar {
    color: #FFFFFF !important;
    background-color: #1487CF !important;
}

.btn-primary:hover {
    background-color: #335468 !important;
}

a.o_form_uri:hover, a.o_form_uri:hover:first-line, button.oe_link:hover {
    color: #335468 !important;
}

.dropdown-menu > li > a {
    color: #333333 !important;
}

a.dropdown-toggle {
    color: #666666 !important;
}

.o_application_switcher {
    background: none;
    background-color: #FFFFFF !important;
}

ul.navbar-nav > li > a:hover, a.navbar-brand:hover {
    background-color: #6B0032 !important;
}

ul.nav-tabs > li > a {
  color: #8F8F8F !important;
}

ul.nav-tabs > li.active > a {
  color: #D50063 !important;
}

button.btn-primary:after {
  border-left-color: #1487CF !important;
}
 */
.o_form_view .o_group.o_inner_group.oe_subtotal_footer .oe_subtotal_footer_microcred {
  font-style: italic;
  color: green;
}

.o_form_view .o_group.o_inner_group.oe_subtotal_footer .oe_subtotal_footer_separator_microcred {
  width: 100%;
  min-width = 108px;
  text-align: right;
  border-top: 1px solid #8f8f8f;
  font-style: italic;
  font-size: 1.3em;
  color: green;
}

.o_form_view .o_group.o_inner_group.oe_subtotal_footer.o_inner_group {
  width: 350px!important;
}

.o_list_view .text-muted {
  color: #AAAAAA;
}
