.table-condensed > thead > tr > th{
    border: none !important;
    padding-bottom: 20px;
}
.tblInvoice td{
    border: none !important;
}
.divTblBank{
    margin-top: 15px;
}
.tblBank{
    border: 1px solid black;
    margin-bottom: 15px;
}
.tblBank th, .tblBank td{
    border: 1px solid black;
    padding: 2px;
}
